
# Optional: server-only (never expose to the client)
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SUPABASE_URL=https://alwmukihvqifyaannpmw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsd211a2lodnFpZnlhYW5ucG13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMTQ0MjUsImV4cCI6MjA5MDc5MDQyNX0.-CH-EQzHTzAZdT-PuqVSPG7uHiU4zoDxnXODhWgengE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsd211a2lodnFpZnlhYW5ucG13Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIxNDQyNSwiZXhwIjoyMDkwNzkwNDI1fQ.d4cfFBkqHo0PvLe_vmYzii1q8MIT1NDyKFIKxH4C5wc

